# Copyright (c) 2022-2024, NVIDIA CORPORATION.
ci:
    autofix_commit_msg: "[pre-commit.ci] auto code formatting"
    autofix_prs: false
    autoupdate_branch: ""
    autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
    autoupdate_schedule: quarterly
    skip: ["verify-alpha-spec"]
    submodules: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--settings-path=python/rmm/pyproject.toml"]
        files: python/.*
        types_or: [python, cython, pyi]
  - repo: https://github.com/ambv/black
    rev: 24.10.0
    hooks:
      - id: black
        args: ["--config=python/rmm/pyproject.toml"]
  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.6
    hooks:
      - id: cython-lint
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v16.0.6
    hooks:
      - id: clang-format
        types_or: [c, c++, cuda]
        args: ["-fallback-style=none", "-style=file", "-i"]
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
        exclude: |
          (?x)^(
            ^benchmarks/utilities/cxxopts.hpp
          )
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        exclude: |
          (?x)^(
            pyproject.toml|
            benchmarks/utilities/cxxopts.hpp
          )
  - repo: local
    hooks:
      - id: cmake-format
        name: cmake-format
        entry: ./scripts/run-cmake-format.sh cmake-format
        language: python
        types: [cmake]
        # Note that pre-commit autoupdate does not update the versions
        # of dependencies, so we'll have to update this manually.
        additional_dependencies:
        - cmakelang==0.6.13
      - id: cmake-lint
        name: cmake-lint
        entry: ./scripts/run-cmake-format.sh cmake-lint
        language: python
        types: [cmake]
        # Note that pre-commit autoupdate does not update the versions
        # of dependencies, so we'll have to update this manually.
        additional_dependencies:
        - cmakelang==0.6.13
      - id: doxygen-check
        name: doxygen-check
        entry: ./scripts/doxygen.sh
        types_or: [file]
        language: system
        pass_filenames: false
        verbose: true
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
    - id: ruff
      files: python/.*$
  - repo: https://github.com/rapidsai/pre-commit-hooks
    rev: v0.4.0
    hooks:
    - id: verify-copyright
    - id: verify-alpha-spec
  - repo: https://github.com/rapidsai/dependency-file-generator
    rev: v1.16.0
    hooks:
      - id: rapids-dependency-file-generator
        args: ["--clean"]

default_language_version:
  python: python3
