# Copyright (c) 2022-2023, NVIDIA CORPORATION.
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.3.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
    - repo: https://github.com/rapidsai/dependency-file-generator
      rev: v1.8.0
      hooks:
          - id: rapids-dependency-file-generator
            args: ["--clean"]
    - repo: https://github.com/PyCQA/isort
      rev: 5.12.0
      hooks:
          - id: isort
            args: ["--settings-path=python/rmm/pyproject.toml"]
            files: python/.*
            types_or: [python, cython, pyi]
    - repo: https://github.com/ambv/black
      rev: 22.3.0
      hooks:
          - id: black
            args: ["--config=python/rmm/pyproject.toml"]
    - repo: https://github.com/MarcoGorelli/cython-lint
      rev: v0.15.0
      hooks:
          - id: cython-lint
    - repo: https://github.com/pre-commit/mirrors-clang-format
      rev: v16.0.6
      hooks:
            - id: clang-format
              types_or: [c, c++, cuda]
              args: ["-fallback-style=none", "-style=file", "-i"]
    - repo: https://github.com/sirosen/texthooks
      rev: 0.4.0
      hooks:
            - id: fix-smartquotes
              exclude: |
                (?x)^(
                  ^benchmarks/utilities/cxxopts.hpp
                )
    - repo: https://github.com/codespell-project/codespell
      rev: v2.2.4
      hooks:
            - id: codespell
              exclude: |
                (?x)^(
                  pyproject.toml|
                  benchmarks/utilities/cxxopts.hpp
                )
    - repo: local
      hooks:
            - id: cmake-format
              name: cmake-format
              entry: ./scripts/run-cmake-format.sh cmake-format
              language: python
              types: [cmake]
              # Note that pre-commit autoupdate does not update the versions
              # of dependencies, so we'll have to update this manually.
              additional_dependencies:
                - cmakelang==0.6.13
            - id: cmake-lint
              name: cmake-lint
              entry: ./scripts/run-cmake-format.sh cmake-lint
              language: python
              types: [cmake]
              # Note that pre-commit autoupdate does not update the versions
              # of dependencies, so we'll have to update this manually.
              additional_dependencies:
                - cmakelang==0.6.13
            - id: doxygen-check
              name: doxygen-check
              entry: ./scripts/doxygen.sh
              types_or: [file]
              language: system
              pass_filenames: false
              verbose: true
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.0.278
      hooks:
        - id: ruff
          files: python/.*$
    - repo: https://github.com/rapidsai/pre-commit-hooks
      rev: v0.0.3
      hooks:
        - id: verify-copyright

default_language_version:
    python: python3
