# Copyright (c) 2022-2024, NVIDIA CORPORATION.
ci:
  autofix_commit_msg: "[pre-commit.ci] auto code formatting"
  autofix_prs: false
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: quarterly
  skip: ["verify-alpha-spec"]
  submodules: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.2
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.7
    hooks:
      - id: cython-lint
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.4
    hooks:
      - id: clang-format
        types_or: [c, c++, cuda]
        args: ["-fallback-style=none", "-style=file", "-i"]
        exclude: |
          (?x)^(
            ^cpp/benchmarks/utilities/cxxopts.hpp
          )
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
        exclude: |
          (?x)^(
            ^cpp/benchmarks/utilities/cxxopts.hpp
          )
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies: [tomli]
        args: ["--toml", "pyproject.toml"]
        exclude: |
          (?x)^(
            ^pyproject.toml|
            ^cpp/benchmarks/utilities/cxxopts.hpp
          )
  - repo: local
    hooks:
      - id: cmake-format
        name: cmake-format
        entry: ./cpp/scripts/run-cmake-format.sh cmake-format
        language: python
        types: [cmake]
        # Note that pre-commit autoupdate does not update the versions
        # of dependencies, so we'll have to update this manually.
        additional_dependencies:
        - cmakelang==0.6.13
      - id: cmake-lint
        name: cmake-lint
        entry: ./cpp/scripts/run-cmake-format.sh cmake-lint
        language: python
        types: [cmake]
        # Note that pre-commit autoupdate does not update the versions
        # of dependencies, so we'll have to update this manually.
        additional_dependencies:
        - cmakelang==0.6.13
      - id: doxygen-check
        name: doxygen-check
        entry: ./cpp/scripts/doxygen.sh
        types_or: [file]
        language: system
        pass_filenames: false
        verbose: true
  - repo: https://github.com/rapidsai/pre-commit-hooks
    rev: v0.7.0
    hooks:
      - id: verify-copyright
        args: [--fix, --main-branch=main]
        exclude: |
          (?x)^(
            ^cpp/benchmarks/utilities/cxxopts.hpp
          )
      - id: verify-alpha-spec
  - repo: https://github.com/rapidsai/dependency-file-generator
    rev: v1.20.0
    hooks:
      - id: rapids-dependency-file-generator
        args: ["--clean", "--warn-all", "--strict"]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

default_language_version:
  python: python3
