name: pr

on:
  push:
    branches:
      - "pull-request/[0-9]+"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pr-builder:
    needs:
      - check-nightly-ci
      - changed-files
      - checks
      - conda-cpp-build
      - conda-cpp-tests
      - conda-python-build
      - conda-python-tests
      - docs-build
      - wheel-build-cpp
      - wheel-build-python
      - wheel-tests
      - devcontainer
      - telemetry-setup
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/pr-builder.yaml@nightly-fix-for-custom-workflows
    if: always()
    with:
      needs: ${{ toJSON(needs) }}
  telemetry-setup:
    runs-on: ubuntu-latest
    continue-on-error: true
    env:
      OTEL_SERVICE_NAME: "pr-rmm"
    steps:
      - name: Telemetry setup
        # This gate is here and not at the job level because we need the job to not be skipped,
        # since other jobs depend on it.
        if: ${{ vars.TELEMETRY_ENABLED == 'true' }}
        uses: rapidsai/shared-actions/telemetry-dispatch-stash-base-env-vars@main
  check-nightly-ci:
    # Switch to ubuntu-latest once it defaults to a version of Ubuntu that
    # provides at least Python 3.11 (see
    # https://docs.python.org/3/library/datetime.html#datetime.date.fromisoformat)
    runs-on: ubuntu-24.04
    env:
      RAPIDS_GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Check if nightly CI is passing
        uses: rapidsai/shared-actions/check_nightly_success/dispatch@main
        with:
          repo: rmm
  changed-files:
    needs:
      - telemetry-setup
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/changed-files.yaml@nightly-fix-for-custom-workflows
    with:
      files_yaml: |
        test_cpp:
          - '**'
          - '!.devcontainer/**'
          - '!.pre-commit-config.yaml'
          - '!CONTRIBUTING.md'
          - '!README.md'
          - '!ci/release/update-version.sh'
          - '!img/**'
          - '!python/**'
        test_python:
          - '**'
          - '!.devcontainer/**'
          - '!.pre-commit-config.yaml'
          - '!CONTRIBUTING.md'
          - '!README.md'
          - '!ci/release/update-version.sh'
          - '!img/**'
  checks:
    secrets: inherit
    needs:
      - telemetry-setup
    uses: rapidsai/shared-workflows/.github/workflows/checks.yaml@nightly-fix-for-custom-workflows
    with:
      enable_check_generated_files: false
      ignored_pr_jobs: "telemetry-summarize"
  conda-cpp-build:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-build.yaml@nightly-fix-for-custom-workflows
    with:
      build_type: pull-request
      script: ci/build_cpp.sh
  conda-cpp-tests:
    needs: [conda-cpp-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-tests.yaml@nightly-fix-for-custom-workflows
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_cpp
    with:
      build_type: nightly
      build_workflow_name: sparkly-unicorn.yaml
      script: ci/test_cpp.sh
  conda-python-build:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-build.yaml@nightly-fix-for-custom-workflows
    with:
      build_type: pull-request
      script: ci/build_python.sh
  conda-python-tests:
    needs: [conda-python-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-tests.yaml@nightly-fix-for-custom-workflows
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_python
    with:
      build_type: nightly
      build_workflow_name: sparkly-unicorn.yaml
      script: ci/test_python.sh
  docs-build:
    needs: conda-python-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@nightly-fix-for-custom-workflows
    with:
      build_type: nightly
      build_workflow_name: sparkly-unicorn.yaml
      node_type: "gpu-l4-latest-1"
      arch: "amd64"
      container_image: "rapidsai/ci-conda:latest"
      script: "ci/build_docs.sh"
  wheel-build-cpp:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@nightly-fix-for-custom-workflows
    with:
      matrix_filter: group_by([.ARCH, (.CUDA_VER|split(".")|map(tonumber)|.[0])]) | map(max_by(.PY_VER|split(".")|map(tonumber)))
      build_type: pull-request
      script: ci/build_wheel_cpp.sh
      package-name: librmm
      package-type: cpp
  wheel-build-python:
    needs: wheel-build-cpp
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@nightly-fix-for-custom-workflows
    with:
      build_type: pull-request
      script: ci/build_wheel_python.sh
      package-name: rmm
      package-type: python
  wheel-tests:
    needs: [wheel-build-python, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-test.yaml@nightly-fix-for-custom-workflows
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_python
    with:
      build_type: nightly
      build_workflow_name: sparkly-unicorn.yaml
      script: ci/test_wheel.sh
  devcontainer:
    secrets: inherit
    needs:
      - telemetry-setup
    uses: rapidsai/shared-workflows/.github/workflows/build-in-devcontainer.yaml@nightly-fix-for-custom-workflows
    with:
      arch: '["amd64"]'
      cuda: '["12.8"]'
      build_command: |
        sccache --zero-stats;
        build-all -DBUILD_BENCHMARKS=ON --verbose 2>&1 | tee telemetry-artifacts/build.log;
        sccache --show-adv-stats | tee telemetry-artifacts/sccache-stats.txt;

  telemetry-summarize:
    # This job must use a self-hosted runner to record telemetry traces.
    runs-on: linux-amd64-cpu4
    needs: pr-builder
    if: ${{ vars.TELEMETRY_ENABLED == 'true' && !cancelled() && github.run_attempt == '1' }}
    continue-on-error: true
    steps:
      - name: Telemetry summarize
        uses: rapidsai/shared-actions/telemetry-dispatch-summarize@main
